<div id="search">
    <form action="/Home/Search" method="post">
        <input type="search" id="st" name="searchText" value="Search..." onclick="function() { document.getElementById('st').innerHTML=' '; }" />
        <input type="submit" id="stb" name="searchButton" value="Search" />
    </form>
</div>
<div id="network"></div>